* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0ff;
    --secondary-color: #003300;
    --background-color: #13161c;
    --text-color: #fff;
    --font-family: "Anton", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-flow: column;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* estilos del header */
header {
    position: sticky;  /* Nos permite fijar el header en la parte superior del viewport */
    top: 0; /* Asegura que el header se quede en la parte superior */
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffffff;
    background-color: #003300 ;
}

.logo {
    height: 4rem;
    width: auto;
    margin-top: 0.7rem;
    margin-left: 1rem;
}
.nav-link {
    top: ;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styles for mobile devices */
@media (max-width: 768px){
    #nav-menu {
        display: none;
    }
    
    #nav-menu.active {
        height: 10rem;
        min-width: 220px;
        position: absolute;
        top: 12vh;
        right: 5vw;
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.08);
    }
    #nav-toggle {
        background: none;
        border: none;
        color: #fff;
        font-size: 2.5rem;
        margin-right : 1rem;
        cursor: pointer;
    }
    
    #nav-toggle.active {
        font-size: 2rem;
    }
    
    
    
}
/* styles for desktop */
@media (min-width: 768px) {
    /* header{
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    } */
    #nav-toggle {
        display: none;
    }
    #nav-menu {
        display: flex;
        border: 1px solid #fff;
    }
    #nav-menu a {
        margin: 0 1rem;
        font-size: ;
    }

}