@import url('/src/css/global.css');
/* box-shadow: 0 0 10px #fff, 0 0 20px #0ff, 0 0 30px #0ff;  */
/* background: linear-gradient(130deg,#fff, #003300, #070f21 ); */


body {
    display: flex;
    flex-flow: column;
}




main {
    width: 100vw;
    height: 90vh;
    
}
section{
    height: 50vh;
}
footer {
    width: 100vw;
}

/* Tablets */
@media (min-width: 768px) {
    #nav-toggle {
        display: none;
    }
    #nav-menu {
        display: flex;
    }

    #nav-menu.active {
        display: none;
        position: absolute;
        top: 12vh;
        right: 5vw;
        display: flex;
        flex-direction: column;
    }
}

/* Laptops  */
/* @media (min-width: 992px) {
    body {
        font-size: 18px;
        
    }
} */

/* Escritorios grandes  */
/* @media (min-width: 1200px) {
    body {
        font-size: 20px;
        
    }
    main{
        border: 1px solid #ffffff;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a{
        border: 1px solid #ffffff;
    }
    nav{
        display: flex;
        border: 1px solid #ffffff;
    }
    #nav-toggle{
        display: none;
    }
} */

/* .bi{
    border: 1px solid #ffffff;
    fill: #0ae98a;

} */